*{
    --grey-panel-size: 1.5em;
}
.outer-wrapper{
    /* width: calc(100% + var(--grey-panel-size)); */
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
}
.spacing-wrapper{
    grid-column: 1 / span 2;
    grid-row: 1;
    display: flex;
    visibility: hidden;
}
.spacing-wrapper, .select-wrapper{
    margin: 4px;
}

.select-wrapper {
    /* width: calc(100% + var(--grey-panel-size)); */
    overflow: hidden;
    border: 1px solid var(--border-color);
    -webkit-transtition: all .1s ease-in-out, border .3s;
    transition: all .1s ease-in-out, border .3s;
    border-radius: 0.3125em;
    cursor: pointer;
    position: relative;
    background-color: white;
    grid-column: 1 / span 2;
    grid-row: 1;
    background: transparent;
}

.grey-wrapper{
    position: absolute;
    width: var(--grey-panel-size);
    height: 100%;
    background-color: var(--border-color);
    right: 0;
    -webkit-transtition: all .1s ease-in-out, background-color .3s;
    transition: all .1s ease-in-out, background-color .3s;
    cursor: pointer;
}
@media (hover: hover) {
    .select-wrapper:hover{
        border: 1px solid var(--htw-hover-green);
    }
    .select-wrapper:hover .grey-wrapper{
        background-color: var(--htw-hover-green);
    }
}
.spacing-wrapper .grey-wrapper{
    position: relative;
    margin-left: .25em;
    /* height: initial; */
}
.grey-wrapper::after {
    content: "";
    width: 0.6em;
    height: 0.4em;
    background-color: var(--button-text-color);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: .1em .25em;
    position: relative;
    width: 100%;
    font-family: 'htw-font';
    font-weight: bold;
    outline: none;
    cursor: pointer;
    color: var(--font-primary-color);
}

option{
    font-family: 'htw-font';
    font-weight: bold;  
    /* color: initial; */
    background-color: var(--background-color)
}
select::-ms-expand {
    display: none;  
}
.select-wrapper:has(select:focus-visible){
    outline: var(--htw-blue) solid var(--outline-width);
    outline-offset: var(--outline-offset);
}
label:not(:focus):not(:active) {
    position: absolute;
    width: 0.0625em;
    height: 0.0625em;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
}