.outer-wrapper{
    display: flex;
    position: relative;
    user-select: none;
    flex-direction: row;
    margin-top: 0.5em;
}
picture{
    margin: auto;
}

img{
    cursor: pointer;
    margin: auto;
    filter: grayscale(1);
    transition: all 0.2s ease;
    width: 100%;
    height: auto;

}
picture.active img{
    filter: grayscale(0);
 
}