.outer-wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
    user-select: none;
    flex-direction: column;
}
.outer-wrapper.horizontal{
    flex-direction: row;
    justify-content: space-around;
}
.label-wrapper{
    display: flex;
    align-items: center;
}
tooltip-button{
    margin-top: 0.3em;
}