.outer-wrapper{
}
.label-wrapper{
    display: flex;
    flex-direction: row;
}
.label-wrapper .label{
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    width: 0;
}

.label-wrapper .label .label-text.active{
    color: var(--htw-green);
}
.label-wrapper .label:has(.label-text.active){
    box-shadow: 0 -2px 0px 0px var(--font-primary-color);
}
.front-label-spacer{
    width: 3.9em;
}
.back-label-spacer{
    width: 19.7em;
}
