.outer-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.8em;
    /* margin-top: 0.5em;
    margin-bottom: 0.5em; */
    position: relative;
}

/* .text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 4em;    
} */

