.outer-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    user-select: none;
}
img{
    width: 1.875em;
    cursor: pointer;
    opacity: .2;
    @media screen and (prefers-color-scheme: dark) {
        filter:invert();
    }
}
.img-wrapper.selected img{
    opacity: 1;
}
.img-wrapper{
    margin: 0 0.5em;
}
.img-wrapper:focus-visible{
    outline: var(--htw-blue) solid var(--outline-width);
    border-radius: 0.125em;
    outline-offset: var(--outline-offset);
}