*{
    --radio-button-dimension: .88em;
    --border-width: 0.0625em;
    --inset-em: 0.125em;
}
.radio-button{
    flex-shrink: 0;
    position: relative;
    width: var(--radio-button-dimension);
    height: var(--radio-button-dimension);
    border-radius: calc(infinity * 1px);
    box-shadow: 0 0 0 var(--border-width) var(--inactive-background-color);
    cursor: pointer;
    margin: calc(var(--border-width) + var(--outline-offset) + var(--outline-width));
}
.radio-button:focus-visible{
    outline: var(--htw-blue) solid var(--outline-width);
    outline-offset: var(--outline-offset);
}
.radio-button[checked]{
    box-shadow: 0 0 0 var(--border-width) var(--htw-green);
    /* cursor: unset; */

}
.radio-button::before{
    content: "";
    width: calc(var(--radio-button-dimension) - 2 * var(--inset-em));
    height: calc(var(--radio-button-dimension) - 2 * var(--inset-em));
    border-radius: 50%;
    position: absolute;
    top: var(--inset-em);
    left: var(--inset-em);
    transition: background-color .3s;
}
.radio-button[checked]::before{
    background-color: var(--htw-green);
}
.outer-wrapper{
    display: flex;
    position: relative;
    user-select: none;
    flex-direction: row;
}
.outer-wrapper.horizontal{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.outer-wrapper .option-label{
    cursor: pointer;
}

@media (hover: hover) {
    .outer-wrapper .radio-button:not(.checked):hover::before, .outer-wrapper .radio-button:not(.checked):has(+ label:hover)::before{
        background-color: var(--htw-hover-green);
    }
}