.outer-wrapper{
    display: flex;
    flex-direction: row;
    gap: 0.8em;
    height: 8em;
}
.first-wrapper, .second-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-grow: 1;
}
.first-wrapper {
    align-items: flex-end;
}

.value{
    font-size: 1.2em;
    font-weight: bold;
}
.bar{
    width: 3em;
    background-color: var(--htw-green);
    transition: all .5s;
}
