* {
    --dimension: 6em;
  }
.outer-wrapper{
    min-height: calc(var(--dimension) + 4em);
    width: calc(var(--dimension) + 4em);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 0.35em;
}
.pole{
    position: absolute;
    font-weight: bold;
}
.n{
    top: -2.2em;
}
.e{
    right: -1.7em;
}
.s{
    bottom: -2.2em;
}
.w{
    left: -1.7em;
}
.frame{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .roof-reference{
    perspective: 50em;   
    filter: blur(0.03125em);
    position: relative;
    width: var(--dimension);
    height: var(--dimension);
    transform-style: preserve-3d;
    transition: all .5s;

  }
  .roof-site{
    position: absolute;
    height: var(--dimension);
    aspect-ratio: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transform-origin: top center;
    top: calc(var(--dimension)/2);
    transition: all .5s;
    transform-style: preserve-3d;

  }
  .left{
     background-color: #dd2929;  
     transform: rotateX(-60deg);

  }
  .right{
    transform: rotateX(240deg);
    background-color: #a11b1b;  
  }
  .panel{
    transform-style: preserve-3d;
    position: absolute;
    bottom: -.75em;
    transform: rotateX(60deg);
    transform-origin: bottom;
    height: .75em;
    width: 35%;
    background-color: #14213d;
    opacity: 1;
    transition: opacity .3s;
    left: .5em;
  }
  .panel:last-child{
    right: .5em;
    left: unset;
  }

  .roof-site.invisible-solar .panel{
    opacity: 0;
  }