* {
    --width: 8em;
    --height: 2em;
    --depth: 6em;
  }
.outer-wrapper{
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 12em;
}
.frame{
  perspective: 50em;
  perspective-origin: calc(var(--width)*3) -200%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.35em;
  height: var(--width);
  filter: blur(0.03125em);
}
.cube {
	position: relative;
	transform-style: preserve-3d;
    width: var(--width);
    height: var(--height);
    /* transform: rotateZ(241deg); */
    transform-origin: center center calc(var(--depth)/2 *-1);
    transition: transform .5s;
    margin-top: var(--height);
    margin-right: calc(var(--depth)/3);
    transform: rotateX(-90deg);
}
@keyframes spin {
	from { transform: rotateY(0) rotateX(0); }
	to { transform: rotateY(360deg) rotateX(360deg); }
}

.cube {
	/* animation: spin 5s infinite linear; */
}
.cube > div {
	position: absolute;
    width: var(--width);
    height: var(--height);
    background-color: #d9d9d9;
    transform-style: preserve-3d;
}
.back {
	transform: translateZ(calc(var(--depth)*-1)) rotateY(180deg);
}
.right {
    width: var(--depth) !important;
	transform: rotateY(-270deg) translateX(calc(var(--depth))) translateZ(calc(var(--width) - var(--depth)));
	transform-origin: top right;
    background-color: #c1c1c1 !important;
}
.left {
    width: var(--depth) !important;
	transform: rotateY(270deg) translateX(calc(var(--depth)*-1));
	transform-origin: center left;
    background-color: #c1c1c1 !important;
    /* background-color: red !important; */
}
.top {
    height: var(--depth) !important;
	transform: rotateX(-90deg);
	transform-origin: top center;
    background-color: #e5e5e5 !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottom {
	transform: rotateX(90deg) translateZ(calc(var(--height)*2));
    height: var(--width) !important;
	transform-origin: bottom center;
    background-color: #e5e5e5 !important;
}
.front {
	transform: translateZ(var(--width)/2);
}
.panel{
    transform-style: preserve-3d;
    transition: transform .5s;
    height: 40%;
    width: 35%;
    background-color: #14213d;
    transform-origin: bottom center;
  }