.outer-wrapper{
    position: relative;
}
.underlay{
    isolation: isolate;
    position: relative;
    width: 4em;
    height: 4em;
    mask-mode: alpha;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-size: contain;
            mask-size: contain;
    -webkit-mask-position: center;
            mask-position: center;
}

.underlay::before {
    display: block;
    content: '';
    background: var(--htw-green);
    inset: auto 0 0 0;
    position: absolute;
    top: var(--top);
    z-index: -1;
    transition: top 0.35s;
    /* -webkit-animation: saveTheMoney 3s ease-in-out infinite;

            animation: saveTheMoney 3s ease-in-out infinite; */
}

img{
    position: absolute;
    top: 0;
    width: 4em;
    height: 4em;
    @media screen and (prefers-color-scheme: dark) {
        filter: invert();
    }
}

/* @-webkit-keyframes saveTheMoney {
    50% {
        height: 100%;
    }
}

@keyframes saveTheMoney {
    50% {
        height: 100%;
    }
} */