.outer-wrapper{
    height: 8em;
    position: relative;
}
img{
    height: 100%;
    z-index: 1;
    position: relative;
}
.text-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: calc(infinity * 1px); 
    border: 4px solid var(--htw-green);
    /* background-color: white; */
    /* color: black; */
    width: 50%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text{
    font-size: 1.7em;
}
.unit{
    font-size: 1.2em;
}
.text, .unit{
    text-align: center;
    font-weight: bold;
}
