.outer-wrapper{
    position: relative;
    height: 8em;
    width: 8em;
}
svg {
    width: 8em;
    height: 8em;
    overflow: visible;
}
  
circle:not(.background-circle){
    transition: 0.35s stroke-dashoffset;
    /* axis compensation */
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.text{
    position: absolute;
    font-size: 1.75em;
    line-height: 1em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}