* {
    --dimension: 6em;
  }
.outer-wrapper{
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 12em;
}
.frame{
  perspective: 50em;;
  perspective-origin: 50% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.35em;
}
.roof-reference{
  position: relative;
  width: var(--dimension);
  height: var(--dimension);
  transform-style: preserve-3d;
  transform: rotateX(95deg) rotateY(0deg) rotateZ(30deg);
  top: calc(- var(--dimension)/2);
  transition: all .5s;
}
.roof-site{
  position: absolute;
  height: var(--dimension);
  aspect-ratio: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  transform-origin: top center;
  top: calc(var(--dimension)/2);
  transition: all .5s;
  filter: blur(0.03125em);
}
.left{
  background-color: #dd2929;  
  transform: rotateX(-45deg);
}
.right{
  transform: rotateX(225deg);
  background-color: #781717;  
}
.panel{
  height: 70%;
  width: 35%;
  background-color: #14213d;
}