*{
    --nav-button-dimension: 0.75em;
    --nav-button-image-dimension: 2em;

}
.outer-wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
    user-select: none;
    gap: .25em;
}
.bubble{
    background-color: var(--inactive-background-color);
    width: var(--nav-button-dimension);
    height: var(--nav-button-dimension);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color .3s;
    position: relative;
}
.bubble.image{
    width: var(--nav-button-image-dimension);
    height: var(--nav-button-image-dimension);
    position: relative;
}
img{
    width: 70%;
    height: 70%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bubble:hover{
    background-color: var(--htw-hover-green);
}
/* .bubble:focus-visible{
    outline: var(--htw-blue) solid var(--outline-width);
    outline-offset: var(--outline-offset);
} */

.bubble.active{
    background-color: var(--htw-green);
}

