
*{
    --switch-height: 1.5em;
    --thumb-width: 50%;
    --thumb-height: 80%;
    --thumb-height-fraction: .8;
    --thumb-width-inset: 10%;
    --thumb-width-inset-fraction: .1;
    --border-width: 0.0625em;
}

.switch {
    position: relative;
    display: inline-block;
    height: var(--switch-height);
    margin: calc(var(--border-width) + var(--outline-width) + var(--outline-offset));
    width: max-content;
}

/* .switch:focus{
    outline: none;
} */
.switch:focus-visible{
    outline: var(--htw-blue) solid var(--outline-width);
    border-radius: var(--switch-height);
    outline-offset: var(--outline-offset);
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: var(--inactive-background-color); */
    box-shadow: 0 0 0 var(--border-width) var(--border-color);
    border-radius: var(--switch-height);
    cursor: pointer;
}
.slider:after{
    content: "";
    position: absolute;
    width: calc(var(--thumb-width) - (var(--switch-height) * (1 - var(--thumb-height-fraction)))/2);
    height: var(--thumb-height);
    top: 50%;
    transform: translateY(-50%) translateX(calc(var(--switch-height) * (1 - var(--thumb-height-fraction)) /2));
    border-radius: calc(infinity * 1px); 
    -webkit-transtition: all .1s ease-in-out, background-color .3s;
    transition: all .1s ease-in-out, background-color .3s;
    background-color: var(--htw-green);
    /* box-shadow: 0 0 0 var(--border-width) var(--border-color); */
} 

.switch.checked .slider:after {
    transform: translateY(-50%) translateX(calc(100% + (var(--switch-height) * (1 - var(--thumb-height-fraction)) /2)));
}

.outer-wrapper {
    display: flex;
    align-items: center;
    width: fit-content;
}

.text-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: calc(var(--switch-height)/4) calc(var(--switch-height) * (1 - var(--thumb-height-fraction)) /2);
    position: relative;
    user-select: none;
    cursor: pointer;

}

.text-wrapper .text{
    text-align: center;
    line-height: calc(var(--switch-height)/2);
    height: calc(var(--switch-height)/2);
    padding: 0 .5em;
}
label{
    margin-left: 0.5em;
    line-height: 1em;
    cursor: pointer;
    user-select: none;
}
.inner-wrapper{
    display: flex;
    align-items: center;
}
@media (hover: hover) {
    .switch:hover .slider::after, .switch:has(+ label:hover) .slider::after{
        background-color: var(--htw-hover-green);
    }
}