.input-value{
    width: calc(3em + 0.9375em);
    padding: .1em .25em;
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: 0.3125em;
    font-family: 'htw-font';
    font-weight: bold;
    margin: calc(var(--outline-offset) + var(--outline-width));
    background-color: transparent;
    color: var(--font-primary-color);
}

.input-value:focus-visible{
    outline: var(--htw-blue) solid var(--outline-width);
    outline-offset: var(--outline-offset);
}

.input-value.warning{
    outline: var(--htw-red) solid var(--outline-width);
    outline-offset: var(--outline-offset);
}

.unit-label{
    margin-left: 0.2em;
    display: inline-block;
    width: 2em;
}
:host(.labeled-number-input-number-input) .input-value{
    grid-column: 2;
    margin-left: unset;
}
:host(.labeled-number-input-number-input) .unit-label{
    grid-column: 3;
    text-align: left;
}
:host(.step-result-panel-number-input) .input-value{
    margin-left: calc(var(--outline-offset) + var(--outline-width));
    margin-right: calc(var(--outline-offset) + var(--outline-width));
}
label:not(:focus):not(:active) {
    position: absolute;
    width: 0.0625em;
    height: 0.0625em;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
}