*{
    --thumb-dimension: 1em;
    --slider-height: .35em;
}

.slider-wrapper .slider-infill{
    background-color: var(--htw-green);
    height: 100%;
    border-radius: var(--slider-height);
    user-select: none;
}
.slider-wrapper .slider-thumb{
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    width: var(--thumb-dimension);
    height: var(--thumb-dimension);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    user-select: none;
}
.outer-wrapper{
    display: flex;
    align-items:center;
    margin: 0 var(--thumb-dimension);
    user-select: none;
    flex-direction: column;
  }
  
.slider-wrapper{
    width: -webkit-fill-available;
    width: -moz-available;

    margin: calc((var(--thumb-dimension) - var(--slider-height)) / 2) 0;

    height: var(--slider-height);
    border-radius: var(--slider-height);
    background-color: transparent;
    border: 1px solid var(--border-color);
    position: relative;
    cursor: pointer;
    user-select: none;
}
.tick-wrapper{
    width: -webkit-fill-available;
    width: -moz-available;
    display: flex;
    justify-content: space-between;
    margin-top: 0.3em;
}
.tick{
    height: 0.4em;
    width: 0.0625em;
    background-color: var(--border-color);
}
.tick.thick{
    /* width: 0.125em; */
    height: 0.6em;
}
.tick-number-wrapper{
    width: -webkit-fill-available;
    width: -moz-available;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .3em;
}
.tick-number{
    height: 0.7em;
    width: 0;
    position: relative;
}
.tick-number span{
    font-size: 0.7em;
    transform: translateX(-50%);
    position:absolute;
}