*{
    --thumb-dimension: 1em;
    --slider-height: .8em;
}

.slider-box{
    position: relative;
    height: var(--slider-height);
    border: 1px solid var(--border-color);
    border-radius: var(--slider-height);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
}

.slider-stop, .slider-thumb{
    cursor: pointer;
}

.slider-stop:focus-visible{
    border: var(--outline-width) solid var(--htw-blue);
    border-radius: var(--slider-height);
    outline: none;
}
.slider-stop:focus-visible ~ .slider-thumb{
    box-shadow: 0 0 0 var(--outline-width) var(--htw-blue) inset;
    /* -webkit-box-shadow: -1px 1px 0px 4px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: -1px 1px 0px 4px rgba(0,0,0,0.75) inset; */
    /* box-shadow: var(--outline-width) solid var(--htw-blue); */
    /* border-radius: var(--slider-height);*/
    outline: none;
}
.slider-stop{
    /* height: calc(100% - 4px); */
    border: 0.125em solid transparent;
    pointer-events: none;
}
.slider-thumb{
    height: 100%;
    position: absolute;
    border-radius: var(--slider-height);
    background-color: var(--htw-green);
    /* transition: all 0.1s; */
    left: 0;
    transform: translate(-50%,0);
}