*{
    --thumb-width: 3.8em;
    --thumb-height: 1em;
    --slider-width: 3em;
    --slider-border-radius: 0.7em;
}

.slider-wrapper .slider-infill{
    background-color: var(--htw-green);
    height: 100%;
    border-radius: var(--slider-border-radius);
    user-select: none;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.slider-wrapper .slider-thumb{
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    width: var(--thumb-width);
    height: var(--thumb-height);
    border-radius: calc(var(--thumb-height)/2);
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 50%);
    cursor: pointer;
    user-select: none;
}
.outer-wrapper.horizontal .slider-wrapper .slider-thumb{
    bottom: unset;
    top: 50%;
    left: 0%;
    transform: translate(-50%,-50%);
    height: var(--thumb-width);
    width: var(--thumb-height);
}
.outer-wrapper{
    display: flex;
    align-items:center;
    margin: calc(var(--thumb-height)/2 + 1px) calc((var(--thumb-width) - var(--slider-width))/2 + 1px);
    user-select: none;
    height: calc(100% - calc((var(--thumb-height)/2 + 1px) * 2));
    width: fit-content;
  }
.outer-wrapper.horizontal{
    margin: 0 var(--thumb-height);
    flex-direction: column;
    height: unset;
    width: unset;
}
  
.slider-wrapper{
    height: 100%;
    width: var(--slider-width);
    border-radius: var(--slider-border-radius);
    background-color: transparent;
    border: 1px solid var(--border-color);
    position: relative;
    cursor: pointer;
    user-select: none;
}
.outer-wrapper.horizontal .slider-wrapper{
    width: -webkit-fill-available;
    width: -moz-available;
    margin: calc((var(--thumb-width) - var(--slider-width)) / 2) 0;
    height: var(--slider-width);
}
.tick-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-left: 0.5em;
}
.outer-wrapper.horizontal .tick-wrapper{
    width: -webkit-fill-available;
    width: -moz-available;
    height: unset;
    margin-left: unset;
    margin-top: 0.3em;
    flex-direction: row;
}
.tick{
    width: 0.4em;
    height: 0.0625em;
    background-color: var(--border-color);
}
.outer-wrapper.horizontal .tick{
    height: 0.4em;
    width: 0.0625em;
}
.tick.thick{
    /* height: 0.125em; */
    width: 0.6em;
}
.outer-wrapper.horizontal .tick.thick{
    height: 0.6em;
    width: 0.0625em;
}
.tick-number-wrapper{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: calc(100%);
    margin-left: 0.5em;
    flex-direction: column-reverse;
}
.outer-wrapper.horizontal .tick-number-wrapper{
    width: -webkit-fill-available;
    width: -moz-available;
    align-items: center;
    margin-bottom: 0.3em;
    margin-left: unset;
    height: unset;
    flex-direction: row;
}
.tick-number{
    line-height: 0.0625em;
}
.tick-number span{
    font-size: 0.7em;
}
.outer-wrapper.horizontal .tick-number{
    height: 0.7em;
    line-height: unset;
    width: 0;
    position: relative;
}
.outer-wrapper.horizontal .tick-number span{
    transform: translateX(-50%);
    position:absolute;
}