.outer-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.label-wrapper{
    display: flex;
    align-items: center;
}
tooltip-button{
    margin-top: 0.3em;
}
[toggle-for]{
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows var(--animation-speed) ease-out;
}
[toggle-for] > *{
    overflow: hidden;
    position: relative;
}

[toggle-for][toggle-disabled]{
    grid-template-rows: 0fr;
    user-select: none;
    pointer-events: none;
    visibility: hidden;
}
[toggle-for]:not([toggle-disabled]) {
    height: 100%;
}