.outer-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.range-slider{
    flex-grow: 1;
}
.outer-wrapper.horizontal .range-slider{
    width: 100%;
    flex-grow: unset;
}
.label-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
}
tooltip-button{
    margin-top: 0.3em;
}