* {
    --animation-speed: 0.3s
}
[toggle-for]{
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows var(--animation-speed) ease-out;
}
[toggle-for] > *{
    overflow: hidden;
    position: relative;
}

[toggle-for][toggle-disabled]{
    grid-template-rows: 0fr;
    user-select: none;
    pointer-events: none;
    visibility: hidden;
}
 