*{
    --button-dimension: 2em;
    --font-size: 0.9em;
    margin: calc(var(--outline-offset) + var(--outline-width));
    padding-left: 0.5em;
    padding-right: 0.5em;
}
button{
    background-color: var(--htw-green-a);
    color: white;
    line-height: var(--button-dimension);
    text-align: center;
    cursor: pointer;
    border: unset;
    border-radius: 0.3125em;
    /* margin: calc(var(--outline-offset) + var(--outline-width)); */
    margin: 0;
    /* padding: 0; */
    font-family: 'htw-font';
    font-size: var(--font-size);
}

button:focus-visible{
    outline: var(--htw-blue) solid var(--outline-width);
    outline-offset: var(--outline-offset);
}

button.link:focus{
    border-radius: 0.125em;
}

button[disabled]{
    background-color: var(--inactive-background-color);
    cursor: not-allowed !important;
}
button.grey{
    background-color: var(--secondary-button-color);
    color: var(--button-text-color);
    border-radius: 0 0 0.3125em 0.3125em;
   padding-left: 0.5em;
   padding-right: 0.5em;
    margin-top: 0;
}

button.grey:not([disabled]):hover{
    background-color: var(--htw-green-a);
}

button.link{
    background-color: transparent;
    height: unset;
    line-height: unset;
    text-decoration: underline;
    color: var(--font-primary-color);
    padding: 0;
}