*{
    --button-dimension: 2em;
    --font-size: 0.9em;
    margin: calc(var(--outline-offset) + var(--outline-width));
    padding-left: 0.5em;
    padding-right: 0.5em;
}
button{
    background-color: var(--secondary-button-color);
    color: var(--font-primary-color);
    line-height: var(--button-dimension);
    text-align: center;
    cursor: pointer;
    border: unset;
    border-radius: unset;
    /* margin: calc(var(--outline-offset) + var(--outline-width)); */
    margin: 0;
    /* padding: 0; */
    font-family: 'htw-font';
    font-size: var(--font-size);
    position: relative;
}

button:focus-visible{
    outline: var(--htw-blue) solid var(--outline-width);
    outline-offset: var(--outline-offset);
    z-index: 1;
}
button[inactive]{
    background-color: var(--inactive-background-color);
}
button:hover{
    background-color: var(--secondary-button-color);
}