*{
    --button-dimension: 1.1em;
}
.outer-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .25em;
}
svg{
    fill: var(--font-primary-color);
    cursor: pointer;
    width: var(--button-dimension);
    height: var(--button-dimension);
}
svg *{
    pointer-events: none;
    user-select: none;
}
/**
 * Don't show normal focus when clicked
 */
 svg:focus{
    outline: none;
}

svg:focus-visible{
    outline: var(--htw-blue) solid var(--outline-width);
    border-radius: calc(infinity * 1px);
    outline-offset: var(--outline-offset);
}
